.header {
    flex-direction: row;
    row-gap: 500%;    
    max-width: fit-content;
    -ms-grid-row-span: 50%;
    display: flex;
    font-family: $main-font-family;
    color: white;
    padding: 20px;
    text-align: center;
    left: 500px;

    .header__menu {
        display: none;
        flex-direction: column;
        background-color: #f1f1f1;
        padding: 20px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 10;

        .navbar-small {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            color: rgba(255, 255, 255, 1);
            font-family: $main-font-family;
            padding: 20px;
            left: 460px;
            z-index: 10;
            align-items: center;

            .navbar-small__brand {
                font-weight: bold;
                font-size: 18px;
                color: white;
                text-decoration: none;
                font-family: $main-font-family;
            }

            .navbar-small__righter {
                margin-left: 500%;
            }

            .navbar-small__toggle hidden {
                display: none;
            }

            .navbar-small__icon {
                font-size: 30px;
                cursor: pointer;
                z-index: 10;
            }
        }
    }

    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: rgba(255, 255, 255, 1);
        font-family: $main-font-family;
        padding: 20px;
        left: 500px;
        z-index: 10;

        .header__brand {
            font-weight: bold;
            font-size: 18px;
            color: white;
            text-decoration: none;
            font-family: $main-font-family;

            
        }

        .header__nav-list {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-left: 150px;

            .header__nav-item {
                margin: 0 10px;
                color: white;

                .header__nav-link {
                    font-size: 16px;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}